<section class="filter-data">
    <div>
      <label for="fdate">filter Date</label>
      <input type="text" onchange={{action this.filterInputDate @data}} id="filter-date" value={{this.fdate}} >
    </div>
  <div>
    <label for="ftitle">filter Title</label>
    <input type="text">
  </div>
  <div>
    <label for="fversion">filter Version</label>
    <input type="text" >
  </div>
</section>